@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Titan+One&display=swap");
header {
  height: 665px;
  background-color: #FFB8CA;
}

.menu {
  padding-top: 25px;
  gap: 5px;
  justify-content: space-around;
}

.container {
  width: 1280px;
  align-items: center;
  margin: 0 auto;
}

.logo {
  margin-top: -15px;
}

.mtxt1 {
  font-weight: 700;
  size: 16px;
  color: #D41443;
}

.mtxt2 {
  font-weight: 700;
  size: 16px;
  color: white;
}

.mtxt2:hover {
  color: #ECEBEB;
}

.mtxt1:hover {
  color: #C7133E;
}

.icecream {
  font-family: "Titan One", sans-serif;
  padding-top: 100px;
  padding-left: 100px;
}

.icetxt1 {
  font-size: 38px;
  font-weight: 400;
  color: white;
  width: 280px;
}

.icetxt2 {
  font-size: 58px;
  font-weight: 400;
  color: #D41443;
}

.btn1 {
  width: 160px;
  height: 45px;
  border-radius: 22px;
  background-color: white;
  padding: 12px 40px;
  margin-top: -10px;
}

.btn1:hover {
  background-color: #ECEBEB;
  cursor: pointer;
}

.icebtn {
  padding-top: 25px;
  padding-left: 100px;
}

.icebtn1 {
  width: 105px;
  height: 40px;
  border-radius: 22px;
  background-color: #D41443;
  padding: 12px 20px;
  margin-top: -10px;
  z-index: 4;
}

.icebtn1:hover {
  background-color: #C7133E;
  cursor: pointer;
}

.icet1 {
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.icebtn2 {
  width: 140px;
  height: 40px;
  border-radius: 22px;
  background-color: white;
  padding: 12px 20px;
  margin-top: -10px;
  z-index: 4;
}

.icebtn2:hover {
  background-color: #ECEBEB;
  cursor: pointer;
}

.icebtn {
  gap: 10px;
}

.icet2 {
  color: #D41443;
  font-size: 14px;
  font-weight: 400;
}

.places {
  flex-direction: column;
}

.cafes {
  top: 160px;
  position: absolute;
  padding-left: 1100px;
}

.cafes h2 {
  position: absolute;
  font-size: 46px;
  font-weight: 400px;
  color: #D41443;
  font-family: "Titan One", sans-serif;
}

.cafes p {
  color: white;
  padding-left: 20px;
  font-weight: 400;
  padding-top: 20px;
}

.cafes img {
  padding-left: 35px;
}

.foodtrucks {
  top: 250px;
  position: absolute;
  padding-left: 1100px;
}

.foodtrucks h2 {
  position: absolute;
  font-size: 46px;
  font-weight: 400px;
  color: #D41443;
  font-family: "Titan One", sans-serif;
}

.foodtrucks p {
  color: white;
  font-weight: 400;
  padding-left: 10px;
  padding-top: 25px;
}

.foodtrucks img {
  padding-left: 35px;
}

.slider-pic4 {
  top: 433px;
  position: absolute;
  padding-left: 900px;
}

.circle {
  position: absolute;
  width: 538px;
  height: 538px;
  background-color: #FFA5BA;
  border-radius: 500px;
  top: 52px;
  margin-left: 475px;
}

.slider-pic7 {
  top: 108px;
  position: absolute;
  padding-left: 594px;
}

.slider-pic5 {
  top: 429px;
  position: absolute;
  padding-left: 77px;
}

.lorem {
  flex-direction: column;
  padding-top: 100px;
  padding-left: 250px;
  position: absolute;
}

.lorem p {
  width: 200px;
  color: white;
}

.lorem img {
  margin-top: 10px;
  width: 26px;
  height: 26px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    align-items: center;
    margin: 0 auto;
  }
  .slider-pic4 {
    position: absolute;
    width:90%;
    padding-left:450px;
    top: 229px;
    left: 70px;
  }
  header {
    height: 420px;
    background-color: #FFB8CA;
  }
  .logo {
    margin-top: -10px;
    margin-left: -15px;
  }
  li .mtxt2 {
    font-size: 10px;
  }
  .icebtn2 {
    width: 100px;
    height: 24px;
    border-radius: 22px;
    background-color: white;
    padding: 1px 20px;
    z-index: 4;
  }
  .icebtn1 {
    width: 75px;
    height: 24px;
    border-radius: 22px;
    background-color: #D41443;
    padding: 1px 20px;
    z-index: 4;
  }
  .icet1, .icet2 {
    font-size: 8px;
  }
  .icecream {
    font-family: "Titan One", sans-serif;
    padding-top: 10px;
    padding-left: 65px;
  }
  .slider-pic5 {
    width: 25%;
    top: 260px;
    position: absolute;
    left: -17px;
    z-index: 3;
  }
  .slider-pic7 {
    width: 70%;
    top: 81px;
    position: absolute;
    padding-left: 394px;
    right:290px
  }
  .lorem {
    flex-direction: column;
    padding-top: 80px;
    padding-left: 165px;
    position: absolute;
  }
  .lorem p {
    font-size: 8px;
    width: 120px;
    color: white;
  }
  .icebtn {
    padding-top: 30px;
    padding-left: 65px;
  }
  .icetxt1 {
    font-size: 22px;
    font-weight: 400;
    color: white;
    width: 160px;
  }
  .icetxt2 {
    font-size: 34px;
    font-weight: 400;
    color: #D41443;
  }
  .circle {
    position: absolute;
    width: 338px;
    height: 338px;
    background-color: #FFA5BA;
    border-radius: 500px;
    top: 52px;
    margin-left: 275px;
  }
  .cafes {
    left: -15px;
    top: 80px;
    position: absolute;
    padding-left: 670px;
  }
  .cafes h2 {
    position: absolute;
    font-size: 46px;
    font-weight: 400px;
    color: #D41443;
    font-family: "Titan One", sans-serif;
  }
  .cafes p {
    color: white;
    padding-left: 10px;
    font-weight: 400;
    padding-top: 20px;
  }
  .cafes img {
    padding-left: 35px;
  }
  .foodtrucks {
    width: 100%;
    top: 160px;
    left: -15px;
    position: absolute;
    padding-left: 670px;
  }
  .foodtrucks h2 {
    position: absolute;
    font-size: 46px;
    font-weight: 400px;
    color: #D41443;
    font-family: "Titan One", sans-serif;
  }
  .foodtrucks p {
    color: white;
    font-size: 12px;
    font-weight: 400;
    padding-left: 10px;
    padding-top: 20px;
  }
  .foodtrucks img {
    padding-left: 35px;
  }
  .btn1 {
    margin-left: -100px;
    width: 104px;
    height: 30px;
    border-radius: 22px;
    background-color: white;
    padding: 5px 26px;
    margin-top: 2px;
  }
  .mtxt1 {
    font-size: 10px;
  }
}
@media (max-width: 320px) {
  .container {
    width: 100%;
    align-items: center;
    margin: 0 auto;
  }
  .slider-pic4 {
    display: none;
  }
  header {
    height: 420px;
    background-color: #FFB8CA;
  }
  .logo {
    margin-top: -10px;
    margin-left: 5px;
  }
  li .mtxt2 {
    display: none;
  }
  .hm {
    display: none;
  }
  .icebtn2 {
    width: 100px;
    height: 24px;
    border-radius: 22px;
    background-color: white;
    padding: 1px 20px;
    z-index: 4;
  }
  .icebtn1 {
    width: 70px;
    height: 24px;
    border-radius: 22px;
    background-color: #D41443;
    padding: 1px 20px;
    z-index: 4;
  }
  .icet1, .icet2 {
    font-size: 8px;
  }
  .icecream {
    font-family: "Titan One", sans-serif;
    padding-top: 10px;
    padding-left: 35px;
    z-index: 4;
    position: absolute;
  }
  .slider-pic5 {
    display: none;
  }
  .slider-pic7 {
    width: 100%;
    top: 123px;
    position: absolute;
    padding-left: 194px;
    left:-5px;
  }
  .lorem {
    display: none;
  }
  .lorem p {
    display: none;
  }
  .icebtn {
    padding-top: 130px;
    padding-left: 25px;
  }
  .icetxt1 {
    font-size: 22px;
    font-weight: 400;
    color: white;
    width: 160px;
  }
  .icetxt2 {
    font-size: 34px;
    font-weight: 400;
    color: #D41443;
  }
  .circle {
    position: absolute;
    width: 238px;
    height: 238px;
    background-color: #FFA5BA;
    border-radius: 500px;
    top: 152px;
    margin-left: 75px;
  }
  .cafes {
    display: none;
  }
  .cafes h2 {
    display: none;
  }
  .cafes p {
    display: none;
  }
  .cafes img {
    display: none;
  }
  .foodtrucks {
    display: none;
  }
  .foodtrucks h2 {
    display: none;
  }
  .foodtrucks p {
    display: none;
  }
  .foodtrucks img {
    display: none;
  }
  .btn1 {
    margin-left: -100px;
    width: 84px;
    height: 30px;
    border-radius: 22px;
    background-color: white;
    padding: 5px 15px;
    margin-top: 2px;
  }
  .mtxt1 {
    font-size: 10px;
  }
}
.sec1 {
  height: 1050px;
}

.sec1-wrap {
  align-content: center;
  justify-content: center;
}

.natural {
  font-family: "Titan One", sans-serif;
  justify-content: center;
  text-align: center;
  line-height: 60px;
}

.natural p {
  padding-top: 100px;
  width: 350px;
  color: #FFA5BA;
  font-weight: 400;
  font-size: 30px;
}

.natural span {
  color: #D41443;
  font-weight: 400;
  font-size: 58px;
}

.card {
  margin-top: 250px;
  margin-left: 75px;
  width: 330px;
  height: 525px;
  background-color: #FFB8CA;
  border-radius: 24px;
  text-align: center;
}

.card h2 {
  font-family: "Titan One", sans-serif;
  color: white;
  padding-top: 140px;
  font-size: 30px;
  font-weight: 500;
}

.three {
  padding-top: 50px;
}

.card p {
  width: 240px;
  padding-top: 35px;
  margin-left: 40px;
  line-height: 30px;
  size: 16px;
  color: white;
  font-weight: 700;
}

.arrow {
  padding-top: 50px;
}

.home-pic {
  margin-top: -180px;
  margin-left: -135px;
  position: absolute;
}

.card.coffee {
  background-color: #F0D1A5;
}

.card.milk {
  background-color: #C2E297;
}

.sec2 {
  background-color: #FFF5F6;
}

.sec2-wrap {
  height: 1382px;
  align-content: center;
  justify-content: center;
}

.sec2-h2 {
  margin-top: 100px;
  text-align: center;
  align-self: center;
  font-family: "Titan One", sans-serif;
  color: #FFA5BA;
  font-weight: 400;
  font-size: 30px;
}

.sec2-p {
  text-align: center;
  font-family: "Titan One", sans-serif;
  color: #D41443;
  font-size: 58px;
  margin-top: 25px;
}

.imgbackg {
  position: absolute;
  margin-top: 300px;
  height: auto;
  width: 100%;
}

.milkcow {
  width: 465px;
  margin-top: 150px;
  margin-left: 700px;
  display: flex;
  flex-direction: column;
}

.cow {
  position: absolute;
  margin-top: 100px;
  margin-left: 100px;
}

.milk-black {
  line-height: 28.16px;
  z-index: 2;
  font-weight: 500;
}

.milk-gray {
  z-index: 2;
  color: #907E82;
  font-weight: 500;
  margin-top: 50px;
  line-height: 27.16px;
}

.milk-gray span {
  margin-left: -318px;
  margin-top: 50px;
  position: absolute;
}

.milkcow .cowbtn {
  margin-left: -15px;
  margin-top: 75px;
}

.cowbtn {
  width: 140px;
  height: 40px;
  border-radius: 22px;
  background-color: white;
  padding: 12px 20px;
  margin-top: -10px;
  z-index: 4;
}

.cowbtn:hover {
  background-color: #ECEBEB;
  cursor: pointer;
}

.home5 {
  margin-top: 100px;
}

.farms {
  display: flex;
  gap: 50px;
  margin-left: 150px;
  margin-top: 200px;
}

.milkbucket h2 {
  margin-top: 10px;
  font-family: "Titan One", sans-serif;
  color: #D41443;
  font-size: 58px;
}

.milkbucket p {
  margin-top: 10px;
  width: 330px;
  font-size: 16px;
  font-weight: 700;
}

.fruitfarm h2 {
  margin-top: 10px;
  font-family: "Titan One", sans-serif;
  color: #D41443;
  font-size: 58px;
}

.fruitfarm p {
  margin-top: 10px;
  width: 330px;
  font-size: 16px;
  font-weight: 700;
}

.caramelapple h2 {
  margin-top: 10px;
  font-family: "Titan One", sans-serif;
  color: #D41443;
  font-size: 58px;
}

.caramelapple p {
  margin-top: 10px;
  width: 330px;
  font-size: 16px;
  font-weight: 700;
}

.sec3-wrap {
  margin-top: 450px;
  align-content: center;
  justify-content: center;
}

.testimonials {
  margin-left: 175px;
  width: 600px;
  align-self: center;
  justify-content: center;
}

.txtials {
  margin-left: 400px;
}

.txtials img {
  margin-left: 25px;
  margin-top: 40px;
}

.txtials .dots {
  margin-left: 50px;
  margin-top: 20px;
}

.txtials p {
  margin-top: 20px;
}

.emily {
  margin-left: 425px;
}

.textcard {
  margin-top: 20px;
  background-color: #FAFAFA;
  width: 925px;
  height: 140px;
}

.hrcard1 {
  position: absolute;
  width: 813px;
  margin-left: 50px;
  margin-top: 80px;
  border: #E1E1E1 1px solid;
}

.hrcard2 {
  position: absolute;
  width: 813px;
  margin-left: 50px;
  margin-top: 110px;
  border: #E1E1E1 1px solid;
}

.textcard img {
  position: absolute;
  margin-top: 40px;
  margin-left: 40px;
}

.textcard p {
  position: absolute;
  padding-top: 50px;
  margin-left: 75px;
  text-align: center;
  line-height: 29.76px;
  width: 750px;
  z-index: 2;
}

.sec4-wrap {
  margin-top: 200px;
}

.cafecard {
  width: 330px;
  height: 572px;
  border: solid white;
  border-radius: 25px;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1019607843);
}

.title {
  background-color: #F0D1A5;
  width: 73px;
  height: 28px;
  border-radius: 6px;
}

.title p {
  font-weight: 500;
  color: white;
  padding-left: 16px;
  padding-top: 5px;
  text-transform: uppercase;
}

.cafecard {
  margin-left: 70px;
  background-color: white;
  margin-top: -100px;
}

.cafecard .content {
  margin-top: 50px;
  margin-left: 35px;
}

.chicago h2 {
  margin-top: 40px;
  font-size: 16px;
}

.chicago p {
  margin-top: 20px;
  width: 240px;
  line-height: 30px;
  color: #907E82;
}

.cafecard hr {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 235px;
  border: 1px solid #E1E1E1;
}

.timetable {
  margin-top: 40px;
}

.timetable h4 {
  font-weight: 500;
  size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.timetable p {
  font-weight: 500;
  size: 16px;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #FFA5BA;
}

.copyright {
  margin-top: 30px;
  color: #907E82;
  line-height: 30px;
  width: 240px;
}

.fitle {
  background-color: #C2E297;
  width: 138px;
  height: 28px;
  border-radius: 6px;
}

.fitle p {
  font-weight: 500;
  color: white;
  padding-left: 16px;
  padding-top: 5px;
  text-transform: uppercase;
}

.sec4 {
  height: 775px;
  background-color: #FFF5F6;
}

.sec4cards {
  width: 1200px;
}

.btnloc {
  width: 200px;
  height: 45px;
  border-radius: 22px;
  background-color: #D41443;
  padding: 12px 20px;
}

.loct {
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding-left: 20px;
}

.btnfranch {
  width: 200px;
  height: 45px;
  border-radius: 22px;
  background-color: white;
  padding: 12px 20px;
  margin-top: -10px;
}

.francht {
  color: #D41443;
  font-size: 16px;
  font-weight: 700;
  padding-left: 35px;
}

.btnfranch:hover {
  background-color: #ECEBEB;
  cursor: pointer;
}

.btnloc:hover {
  background-color: #C7133E;
  cursor: pointer;
}

.sec4-wrap > .icebtn {
  width: 900px;
  gap: 25px;
  margin-left: 365px;
  margin-top: 50px;
}

.sec4-wrap > .icebtn > .icebtn1 {
  width: 170px;
  padding-left: 35px;
}

.sec4-wrap > .icebtn > .icebtn2 {
  padding-left: 35px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    align-items: center;
    margin: 0 auto;
  }
  .sec1 {
    height: 900px;
  }
  .card {
    margin-top: 200px;
    margin-left: 17px;
    width: 230px;
    height: 525px;
    background-color: #FFB8CA;
    border-radius: 24px;
    text-align: center;
  }
  .card p {
    width: 170px;
    padding-top: 35px;
    margin-left: 30px;
    line-height: 20px;
    font-size: 14px;
    color: white;
    font-weight: 700;
  }
  .home-pic {
    width:40%;
    margin-top: -180px;
    margin-left: -150px;
    position: absolute;
  }
  .natural {
    font-family: "Titan One", sans-serif;
    justify-content: center;
    text-align: center;
    line-height: 40px;
  }
  .natural p {
    padding-top: 50px;
    width: 350px;
    color: #FFA5BA;
    font-weight: 400;
    font-size: 26px;
  }
  .natural span {
    color: #D41443;
    font-weight: 400;
    font-size: 48px;
  }
  .cards {
    width: 768px;
  }
  .imgbackg {
    display: none;
  }
  .sec2 {
    width: 768px;
  }
  .sec2-h2 {
    margin-top: 100px;
    text-align: center;
    align-self: center;
    font-family: "Titan One", sans-serif;
    color: #FFA5BA;
    font-weight: 400;
    font-size: 26px;
  }
  .sec2-p {
    text-align: center;
    font-family: "Titan One", sans-serif;
    color: #D41443;
    font-size: 48px;
    margin-top: 25px;
  }
  .cow {
    width:50%;
    position: absolute;
    margin-top: 200px;
    margin-left: 10px;
  }
  .milk-black {
    margin-left: -270px;
    font-size: 14px;
    line-height: 28.16px;
    z-index: 2;
    width: 300px;
    font-weight: 500;
  }
  .milk-gray {
    z-index: 2;
    margin-left: -270px;
    font-size: 14px;
    color: #907E82;
    font-weight: 500;
    margin-top: 50px;
    width: 300px;
    line-height: 27.16px;
  }
  .milk-gray span {
    margin-left: -100px;
  }
  .milkcow .cowbtn {
    margin-left: -270px;
    margin-top: 75px;
    width: 105px;
  }
  .home5 {
    margin-top: 100px;
    width: 100%;
  }
  .farms {
    display: flex;
    gap: 70px;
    margin-left: 100px;
    margin-top: 200px;
  }
  .milkbucket h2 {
    margin-top: 10px;
    font-family: "Titan One", sans-serif;
    color: #D41443;
    font-size: 48px;
  }
  .milkbucket p {
    margin-top: 10px;
    width: 160px;
    font-size: 14px;
    font-weight: 700;
  }
  .fruitfarm h2 {
    margin-top: 10px;
    font-family: "Titan One", sans-serif;
    color: #D41443;
    font-size: 48px;
  }
  .fruitfarm p {
    margin-top: 10px;
    width: 160px;
    font-size: 14px;
    font-weight: 700;
  }
  .caramelapple h2 {
    margin-top: 10px;
    font-family: "Titan One", sans-serif;
    color: #D41443;
    font-size: 48px;
  }
  .caramelapple p {
    margin-top: 10px;
    width: 160px;
    font-size: 14px;
    font-weight: 700;
  }
  .testimonials {
    margin-left: 75px;
    width: 550px;
    align-self: center;
    justify-content: center;
  }
  .txtials {
    margin-left: 400px;
  }
  .txtials img {
    margin-left: -110px;
    margin-top: 40px;
  }
  .txtials .dots {
    margin-left: -90px;
    margin-top: 20px;
  }
  .txtials p {
    margin-top: 20px;
    margin-left: -140px;
  }
  .emily {
    margin-left: 275px;
  }
  .textcard {
    margin-top: 20px;
    background-color: #FAFAFA;
    width: 625px;
    height: 140px;
  }
  .hrcard1 {
    position: absolute;
    width: 543px;
    margin-left: 50px;
    margin-top: 80px;
    border: #E1E1E1 1px solid;
  }
  .hrcard2 {
    position: absolute;
    width: 543px;
    margin-left: 50px;
    margin-top: 110px;
    border: #E1E1E1 1px solid;
  }
  .textcard img {
    position: absolute;
    margin-top: 40px;
    margin-left: 40px;
  }
  .textcard p {
    position: absolute;
    padding-top: 50px;
    margin-left: 50px;
    text-align: center;
    line-height: 29.76px;
    width: 550px;
    z-index: 2;
    font-size: 14px;
  }
  .sec3 {
    width: 768px;
  }
  .sec4-wrap {
    margin-top: 200px;
  }
  .cafecard {
    width: 220px;
    height: 572px;
    border: solid white;
    border-radius: 25px;
    box-shadow: 0px 8px 10px 0px rgba(212, 20, 67, 0.1019607843);
  }
  .title {
    background-color: #F0D1A5;
    width: 73px;
    height: 28px;
    border-radius: 6px;
  }
  .title p {
    font-weight: 500;
    color: white;
    padding-left: 16px;
    padding-top: 5px;
    text-transform: uppercase;
  }
  .cafecard {
    margin-left: 30px;
    background-color: white;
    margin-top: -100px;
  }
  .cafecard .content {
    margin-top: 50px;
    margin-left: 35px;
  }
  .chicago h2 {
    margin-top: 40px;
    font-size: 14px;
  }
  .chicago p {
    margin-top: 20px;
    width: 140px;
    font-size: 12px;
    line-height: 30px;
    color: #907E82;
  }
  .cafecard hr {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 140px;
    border: 1px solid #E1E1E1;
  }
  .timetable {
    margin-top: 40px;
  }
  .timetable h4 {
    font-weight: 500;
    size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .timetable p {
    font-weight: 500;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #FFA5BA;
  }
  .copyright {
    margin-top: 30px;
    color: #907E82;
    line-height: 30px;
    font-size: 12px;
    width: 140px;
  }
  .fitle {
    background-color: #C2E297;
    width: 138px;
    height: 28px;
    border-radius: 6px;
  }
  .fitle p {
    font-weight: 500;
    color: white;
    padding-left: 16px;
    padding-top: 5px;
    text-transform: uppercase;
  }
  .sec4 {
    height: 775px;
    background-color: #FFF5F6;
  }
  .sec4cards {
    width: 768px;
  }
  .sec4-wrap > .icebtn {
    width: 768px;
    gap: 20px;
    margin-left: 225px;
    margin-top: 50px;
  }
  .sec4-wrap > .icebtn > .icebtn1 {
    width: 100px;
    padding-left: 15px;
  }
  .sec4-wrap > .icebtn > .icebtn2 {
    padding-left: 30px;
  }
}
@media (max-width: 320px) {
  .container {
    width: 100%;
    align-items: center;
    margin: 0 auto;
  }
  .sec1 {
    height: 2300px;
  }
  .card {
    margin-top: 150px;
    margin-left: 45px;
    width: 230px;
    height: 525px;
    background-color: #FFB8CA;
    border-radius: 24px;
    text-align: center;
  }
  .card p {
    width: 170px;
    padding-top: 35px;
    margin-left: 30px;
    line-height: 20px;
    font-size: 14px;
    color: white;
    font-weight: 700;
  }
  .home-pic {
    width:80%;
    margin-top: -140px;
    margin-left: -125px;
    position: absolute;
  }
  .natural {
    font-family: "Titan One", sans-serif;
    justify-content: center;
    text-align: center;
    line-height: 40px;
  }
  .natural p {
    padding-top: 100px;
    width: 320px;
    color: #FFA5BA;
    font-weight: 400;
    font-size: 26px;
  }
  .natural span {
    color: #D41443;
    font-weight: 400;
    font-size: 48px;
  }
  .cards {
    width: 100px;
    flex-direction: column;
  }
  .imgbackg {
    display: none;
  }
  .sec2 {
    width: 320px;
  }
  .sec2-wrap {
    display: flex;
    flex-direction: column;
  }
  .sec2-h2 {
    margin-top: 100px;
    text-align: center;
    align-self: center;
    font-family: "Titan One", sans-serif;
    color: #FFA5BA;
    font-weight: 400;
    font-size: 26px;
  }
  .sec2-p {
    text-align: center;
    font-family: "Titan One", sans-serif;
    color: #D41443;
    font-size: 48px;
    margin-top: 25px;
  }
  .cow {
    width:100%;
    position: absolute;
    margin-top: -300px;
    margin-left: -20px;
  }
  .milk-black {
    margin-top: 400px;
    margin-left: -670px;
    font-size: 14px;
    line-height: 28.16px;
    z-index: 2;
    width: 270px;
    font-weight: 500;
  }
  .milk-gray {
    z-index: 2;
    margin-left: -670px;
    font-size: 14px;
    color: #907E82;
    font-weight: 500;
    margin-top: 50px;
    width: 290px;
    line-height: 27.16px;
  }
  .milk-gray span {
    margin-left: -150px;
  }
  .milkcow .cowbtn {
    margin-left: -680px;
    margin-top: 75px;
    width: 105px;
  }
  .home5 {
    margin-top: 100px;
    width: 100%;
  }
  .farms {
    display: none;
  }
  .milkbucket h2 {
    margin-top: 10px;
    font-family: "Titan One", sans-serif;
    color: #D41443;
    font-size: 48px;
  }
  .milkbucket p {
    margin-top: 10px;
    width: 160px;
    font-size: 14px;
    font-weight: 700;
  }
  .fruitfarm h2 {
    margin-top: 10px;
    font-family: "Titan One", sans-serif;
    color: #D41443;
    font-size: 48px;
  }
  .fruitfarm p {
    margin-top: 10px;
    width: 160px;
    font-size: 14px;
    font-weight: 700;
  }
  .caramelapple h2 {
    margin-top: 10px;
    font-family: "Titan One", sans-serif;
    color: #D41443;
    font-size: 48px;
  }
  .caramelapple p {
    margin-top: 10px;
    width: 160px;
    font-size: 14px;
    font-weight: 700;
  }
  .testimonials {
    margin-left: 75px;
    width: 320px;
    align-self: center;
    justify-content: center;
  }
  .txtials {
    margin-left: 170px;
  }
  .txtials img {
    margin-left: -110px;
    margin-top: 40px;
  }
  .txtials .dots {
    margin-left: -90px;
    margin-top: 20px;
  }
  .txtials p {
    margin-top: 20px;
    margin-left: -140px;
  }
  .emily {
    margin-left: 50px;
  }
  .textcard {
    margin-left: -20px;
    margin-top: 20px;
    background-color: #FAFAFA;
    width: 225px;
    height: 310px;
  }
  .hrcard1 {
    display: none;
  }
  .hrcard2 {
    display: none;
  }
  .textcard img {
    position: absolute;
    margin-top: 40px;
    margin-left: 40px;
  }
  .textcard p {
    position: absolute;
    padding-top: 50px;
    margin-left: 25px;
    text-align: center;
    line-height: 29.76px;
    width: 185px;
    z-index: 2;
    font-size: 14px;
  }
  .sec3 {
    width: 320px;
  }
  .sec4-wrap {
    margin-top: 200px;
  }
  .sec4cards {
    flex-direction: column;
  }
  .cafecard {
    width: 220px;
    height: 572px;
    border: solid white;
    border-radius: 25px;
    box-shadow: 0px 8px 10px 0px rgba(212, 20, 67, 0.1019607843);
  }
  .title {
    background-color: #F0D1A5;
    width: 73px;
    height: 28px;
    border-radius: 6px;
  }
  .title p {
    font-weight: 500;
    color: white;
    padding-left: 16px;
    padding-top: 5px;
    text-transform: uppercase;
  }
  .cafecard {
    margin-left: 50px;
    background-color: white;
    margin-top: 50px;
  }
  .cafecard .content {
    margin-top: 50px;
    margin-left: 35px;
  }
  .chicago h2 {
    margin-top: 40px;
    font-size: 14px;
  }
  .chicago p {
    margin-top: 20px;
    width: 140px;
    font-size: 12px;
    line-height: 30px;
    color: #907E82;
  }
  .cafecard hr {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 140px;
    border: 1px solid #E1E1E1;
  }
  .timetable {
    margin-top: 40px;
  }
  .timetable h4 {
    font-weight: 500;
    size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .timetable p {
    font-weight: 500;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #FFA5BA;
  }
  .copyright {
    margin-top: 30px;
    color: #907E82;
    line-height: 30px;
    font-size: 12px;
    width: 140px;
  }
  .fitle {
    background-color: #C2E297;
    width: 138px;
    height: 28px;
    border-radius: 6px;
  }
  .fitle p {
    font-weight: 500;
    color: white;
    padding-left: 16px;
    padding-top: 5px;
    text-transform: uppercase;
  }
  .sec4 {
    height: 2075px;
    background-color: #FFF5F6;
  }
  .sec4cards {
    width: 320px;
  }
  .sec4-wrap > .icebtn {
    width: 320px;
    gap: 20px;
    margin-left: 25px;
    margin-top: 20px;
  }
  .sec4-wrap > .icebtn > .icebtn1 {
    width: 100px;
    padding-left: 15px;
  }
  .sec4-wrap > .icebtn > .icebtn2 {
    padding-left: 30px;
  }
}
footer {
  height: 250px;
  background-color: #FFF5F6;
}

.sec5-wrap {
  display: flex;
}

.contacts {
  flex-direction: column;
  margin-top: 50px;
  margin-left: 300px;
}

.homemade {
  width: 472px;
  margin-left: 100px;
  padding-top: 50px;
}

.homemade h2 {
  text-transform: uppercase;
  color: #FFA5BA;
  font-weight: 400;
  font-family: "Titan One", sans-serif;
  font-size: 30px;
}

.homemade span {
  text-transform: uppercase;
  color: #D41443;
  font-weight: 400;
  font-family: "Titan One", sans-serif;
  font-size: 60px;
}

.sites {
  display: flex;
  gap: 25px;
  margin-left: 150px;
}

.number {
  margin-top: 50px;
}

.number span {
  color: #D41342;
}

.copyhr {
  margin-top: 50px;
  border: 1px solid #E1E1E1;
}

.copyp {
  margin-top: 10px;
  align-self: center;
  text-align: center;
  color: #907E82;
}

.git:hover::before {
  content: url(./images/github1.svg);
  position: absolute;
}

.teleg:hover::before {
  content: url(./images/telegram1.svg);
  position: absolute;
}

.facebook:hover::before {
  content: url(./images/facebook1.svg);
  position: absolute;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    align-items: center;
    margin: 0 auto;
  }
  footer {
    height: 275px;
    background-color: #FFF5F6;
  }
  .number {
    font-size: 16px;
    margin-top: 25px;
    margin-left: 180px;
  }
  .contacts {
    flex-direction: column;
    margin-top: 50px;
    margin-left: -135px;
  }
  .homemade {
    width: 120px;
    margin-left: 25px;
    padding-top: 50px;
  }
  .homemade h2 {
    text-transform: uppercase;
    color: #FFA5BA;
    font-weight: 400;
    font-family: "Titan One", sans-serif;
    font-size: 20px;
  }
  .homemade span {
    text-transform: uppercase;
    color: #D41443;
    font-weight: 400;
    font-family: "Titan One", sans-serif;
    font-size: 30px;
  }
  .sites {
    gap: 5px;
    margin-left: 175px;
  }
  .git:hover::before {
    content: url(./images/github1.svg);
    position: absolute;
  }
  .teleg:hover::before {
    content: url(./images/telegram1.svg);
    position: absolute;
  }
  .facebook:hover::before {
    content: url(./images/facebook1.svg);
    position: absolute;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: none;
}

.flex {
  display: flex;
}
